<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/ahhhhh.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/prism.css">
   </head>
   <body>
    <div class="mainpage">
        <div class="d-flex justify-content-center">
            <p>Welcome to Anadromy</p>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href='/auth/login';">
                Click Here to Login
            </button>
        </div>
    </div>
   </body>
</html>

