<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="/stylesheets/ahhhhh.css">
       <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/prism.css">
       <link rel="icon" type="image/x-icon" href="/images/faviconlogo.png">
       <title>Anadromy</title>
   </head>
   <body>
    <div class="mainpage">
        <div class="d-flex justify-content-center">
            <h2>Welcome to</h2>
        </div>
        <div class="d-flex justify-content-center">
            <img src = "/images/LogoBlueSmall.png" style="width:40%;">
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-blue" onclick="window.location.href='/auth/login';">
                Click Here to Login
            </button>
        </div>
    </div>
   </body>
</html>

